<%- include('../components/addTodoForm.ejs') %>
<ul class="list">
  <% todoList.forEach((val)=> { %>
    <li class="list__item">
      <p>id: <%= val.id %></p>
      <p class="list__title">タイトル: <%= val.title %></p>
      <p class="list__content">内容: <%= val.content %></p>
      <div>
        <a type="button" href="/todo/<%= val.id%>">詳細</a>
      </div>
    </li>
  <% }); %>
</ul>
<!-- <%= JSON.stringify(todoList) %> -->